header {
    background-color: none;
    z-index: 2;

    @include lg {
        margin-bottom: 680px;
    }

    .site-title {
        z-index: 2;
        h1 {
            font-size: $font-size-35;
            font-weight: $font-weight-bold;
        }

        
        a:hover {
            color: $color-black-1;
        }
    }

    .navbar {
        z-index: 2;
        font-weight: $font-weight-meduim;
        padding: 1rem;

    }

    .user-items {
        z-index: 2;
        display: flex;
        justify-content: flex-end;

        .round-button {
            margin-left: 1.5rem;
        }


    }
    
}



