.promo-cards {
    .container {
        justify-content: space-between;

        ._card {
            padding-top: 0;
            // flex-direction: column;

            ._card-text {
                margin: 0 2rem;
            }


        }

        .card-1 {
            background-color: $color-brown-2;

            h2 {
                color: $color-white-1;
            }
        }
    }
}