.promo-main {
    display: none;

    @include lg {
        display: block;
        text-align: center;
        background-image: linear-gradient(to right, $theme-color , $color-white-2);
        position: absolute;
        width: 100%;
        max-height: 800px;
        top: -25px;
        z-index: 1;
        padding-top: 5%;

        .continer {
            max-height: 800px;
        }
    }
}