.section-title {
    font-size: $font-size-45;
    font-weight: $font-weight-bold;
    color: $theme-color-dark;
}

.section-text {
    font-size: $font-size-16;
    font-weight: $font-weight-regular;
    color: $theme-color-dark;
}